<h1>Registered Teams</h1>

<ul class="nav nav-tabs nav-stacked">
  <% @teams.each do |team| %>
    <li>
      <%= link_to team.name, team %>
    </li>
  <% end %>
</ul>


<%= link_to 'Register New Team', new_team_path, :class => "btn btn-info btn-large" %>
