<h1>Participating Houses</h1>

<ul class="nav nav-tabs nav-stacked">
  <% @houses.each do |team| %>
    <li>
      <%= link_to team.name, team %>
    </li>
  <% end %>
</ul>

<%= link_to 'New House', new_house_path, :class => "btn btn-large btn-info" %>
