<h1>Registered Players</h1>

<ul class="nav nav-tabs nav-stacked">
  <% @athletes.each do |a| %>
    <li>
      <%= link_to a.name, a %>
    </li>
  <% end %>
</ul>


<%= link_to 'Register New Player', new_athlete_path, :class => "btn btn-info btn-large" %>
