<h1>Schedule</h1>

<ul class="nav nav-tabs nav-stacked">
  <% @matches.each do |m| %>
    <li>
      <%= link_to "#{m.home_team_id} vs. #{m.away_team_id}", m %>
    </li>
  <% end %>
</ul>


<%= link_to 'Schedule New Match', new_match_path %>
